* {
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(41,0,0);
}
.topborder {
    width: 100%;
    height: 0.5vw;
    background-color: rgb(118, 195, 143);
}

/* TOP MENU */

.block1 {
    width: 100%;
    height: 7.5vw;
    background-color: rgb(41,0,0);
}

.block1-left {
    flex: 25%;
    float: left;
    padding: 2vw 7vw;
    font-size: 2.7vw;
}

.block1-left a {
    color: white;
    text-decoration: none;
}

.block1-right {
    flex: 75%;
    float: right;
    padding: 3.2vw 5vw;
    font-size: 1.2vw;
}

.block1-right a {
    color: white;
    padding: 0.5vw 1vw;
    text-decoration: none;
    text-align: center;
}

.block1-right a:hover {
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    background-color: rgb(118, 195, 143);
}

/* BLOCK 2      ROUND PHOTO FRAME   */

.block2 {
    width: 100%;
    height: 33.5vw;
    background-color: rgb(41,0,0);
    display: flex;
}
.leftbutton {
    flex: 10%;
    float: left;
    max-width: 100%;
    padding: 12vw 0vw 5vw 9vw;
}

.block2-left {
    flex: 20%;
    float: left;
    padding: 2vw 5vw 5vw 0vw;
}
.block2-right {
    flex: 22%;
    float: right;
    padding: 0vw 0vw 5vw 0vw;
}

.block2-right img {
    border: 1.5vw solid rgb(107, 107, 107);
    border-radius: 380px;
    max-width: 100%;
}

.block2-left p:first-child {
    color: white;
    font-size: 3.5vw;
    line-height: 3.5vw;
    margin: 2vw 0vw;
}

.block2-left p:nth-child(2) {
    color: rgb(151, 151, 151);
    font-size: 1.1vw;
}

.block2-left a {
    color: white;
    padding: 0.5vw 1vw;
    text-decoration: none;
    text-align: center;
    font-size: 1.2vw;
}
.block2-left a:hover {
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    background-color: rgb(118, 195, 143);
    font-size: 1.2vw;
}


.rightbutton {
    flex: 10%;
    float: right;
    max-width: 100%;
    padding: 12vw 0vw 0vw 10vw;
}

/* BLOCK 3     SERVICE TITLE BLOCKS   */

.block3 {
    width: 100%;
    padding: 4vw 7.5vw;
    height: 36vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(102,0,0);
    text-align: center;
    text-decoration: none;
}

.block3-1, .block3-2, .block3-3, .block3-4 {
    background-color: white;
    width: 19.5vw;
    height: 26vw;
    padding: 2vw 2vw;
    flex: 25%;
    color: rgb(51, 51, 51);
} 
.block3-1 img, .block3-2 img, .block3-3 img, .block3-4 img {
max-width: 100%;
}


.block3 h1 {
    line-height: 2.5vw;
    font-size: 2.5vw;
    color: rgb(51, 51, 51);
    font-weight: lighter;
}

.block3 p {
    font-size: 1.2vw;
    color: rgb(151, 151, 151);
    font-weight: lighter;
}
.block3 a {
    text-decoration: none;
}

.block3-1:hover, .block3-2:hover, .block3-3:hover, .block3-4:hover {
    background-color: rgb(118, 195, 143);
    color: white; 
}
.block3-1:hover h1, .block3-2:hover h1, .block3-3:hover h1, .block3-4:hover h1 {
    background-color: rgb(118, 195, 143);
    color: white;
}
.block3-1:hover p, .block3-2:hover p, .block3-3:hover p, .block3-4:hover p {
    background-color: rgb(118, 195, 143);
    color: white;
}





    /* LATEST WORK HEADER */

.latestworkblock {
    width: 100%;
    height: 5vw;
    background-color: rgb(102,0,0);
}

 .solid {
    width: 85%;
    margin-left: 7.4vw;
    margin-top: 0vw;
    border-top: solid rgb(48,48,48);
} 

.latestwork {
    background-color: rgb(48,48,48);
    width: 20vw;
    height: 4vw;
    border-radius: 0.8vw;
    padding: 0.5vw;
    margin: -2vw auto;
    text-align: center;
    color: white;
    font-size: 2.5vw;
}

    /* BLOCK 4     LATEST WORK PHOTO LINKS  */


.block4 {
    width: 100%;
    height: 42vw;
    padding: 0vw 1.5vw;
    background-color: rgb(102,0,0);
    text-align: center;
}

.block4 img {
    max-width: 100%;
}

.flexcontainer1 {
    padding-left: 6%;
    width: 93.5%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.flexcontainer2 {
    padding-top: 5vw;
    padding-left: 6%;
    width: 93.5%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.LW {
    background-color: white;
    padding: 0.5vw;
    width: 24vw;
    height: 16vw;
}

.LW:hover {
    background-color: rgb(118, 195, 143);
}

 /* FOOTER ________ LINKS, CONTACT US ETC. */

footer {
    background-color: rgb(48,48,48);
    display: flex;
    padding: 0vw 7.5vw;
    width: 100%;
    height: 33vw;
}

.footer {
    flex: 25%;
}
.footer:first-child, .footer:nth-child(2), .footer:nth-child(3) {
    padding: 0vw 2.5vw 0vw 0vw;
}

.footer h5 {
    color: white;
    font-size: 1.3vw;
    font-weight: lighter;
}
.boldlink {
    font-weight: bold;
}

.footer a {
    color: rgb(151, 151, 151);
    text-decoration: none;
    /* font-weight: normal; */
}

.footer a:hover {
    color: rgb(118, 195, 143);
    text-decoration: none;
}
footer p {
    color: rgb(151, 151, 151);
    font-weight: normal;
    line-height: 1.8vw;
}
.small {
    font-size: 1vw;
    line-height: 1vw;
}
.underline {
    padding: 0vw 0vw 1vw 0vw;
    border-bottom: 0.2px solid rgb(64, 64, 64);
    line-height: 1vw;
}

/* FOOTER FORMS */


.input1, .input2 {
    background-color: rgb(34,34,34);
    border: none;
    width: 100%;
    height: 3vw;
    border-radius: 1vw;
    margin-bottom: 1vw;
    padding-left: 1vw;
    font-size: 1vw; 
    color: white;
}

.input2 {
    height: 6vw;
}
.input3 {
    background-color: rgb(118, 195, 143);
    border: none;
    width: 40%;
    height: 3vw;
    border-radius: 1vw;
    padding-left: 0.6vw;
    font-size: 1.2vw;
    font-weight: bold;
    color: rgb(34,34,34);
}
input:focus {
    outline: none;
}
.input3 {
    cursor: pointer;
}

.input3:active {
    padding-left: 5%;
    box-shadow: 0.1vw 0.1vw 1vw rgb(16, 73, 34) inset;
}



/*       BLOCK 6 copyright       */


.zebra {
    background-color: rgb(40,40,40);
    width: 100%;
    height: 0.2vw;
    border-bottom: 0.1vw solid rgb(60,60,60);
}

.reserved {
background-color: rgb(43,43,43);
width: 100%;
height: 5vw;
padding: 1.8vw 10vw;
color: rgb(151, 151, 151);
font-size: 1.2vw;
}

.reserved1 {
    float: left;
}
.reserved2 {
    float: right;
}


/*      THE END      */
